/* body {
    background: black url(https://stardewvalleywiki.com/mediawiki/skins/Vector/stardewimages/stardewbackground.png)no-repeat fixed center center / cover;
    opacity: 0.1;
}  */

body::before {    
    content: "";
    background-image: url('https://stardewvalleywiki.com/mediawiki/skins/Vector/stardewimages/stardewbackground.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.navbar {
    margin-bottom: 2em;
    background-color: #ababad;
}

#table_div {
    border: 20px;
}



